# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\modelmaker\remoteCode\HSCardsCollect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
